@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "О нас";
}

<h1>О фотомагазине Photobox</h1>
<h2 style="margin-left: 20px;">Для кого был создан сайт фотомагазина Photobox</h2>
<p>Для любителей винтажных снимков, которые имели большую популярность несколько десятков лет назад, работает магазин фотооборудования Photobox. Детальнее ознакомиться со всем ассортиментом товаров можно воспользовавшись витриной или перейдя в специальный раздел на сайте. Главное меню способствует легкому поиску и простоте оформления заказа.</p>
<h2 style="margin-left: 20px;">Актуальность создания пленочной фотографии</h2>
<p>Большинство современных фотографов используют модели профильного оборудования с применением фотопленки. Создание каждого аналогового снимка – это искусство, которое имеет свои прелести благодаря современным усовершенствованным фотоаппаратам, которые являются потомками, всем известного Полароида. Изображение на снимках имеют четкое очертание и не поддаются влиянию влаги, сохраняя свою яркость на протяжении многих лет.</p>
<p>Интернет-магазин предлагает модели, которые дают возможность не только быстро и качественно отображать картинку, но и редактировать готовые снимки на экране приборов, сохранять их на карте памяти и передавать через Wi-Fi или USB. Также, современные фотоаппараты имеют функцию записи видео высокого качества, что позволяет делать важные моменты в жизни еще ярче и красочнее. Их можно использовать на разных мероприятиях – свадьба, день рождения, юбилей или просто брать с собой на прогулку.</p>
<p>Магазин моментальной фотографии представляет коллекцию изделий только от надежных производителей, с наличием необходимой технической документации. Каждая страница содержит подробное описание предполагаемой модели с фотографией, актуальной ценой и рекомендациями сопутствующих товаров.</p>
