

<div id="brands" class="w-50 h-25">
    <div><label><input class="checkbox" type="checkbox" name="brands[]" value="1">Страховка на год 1000р</label></div>
    <div><label><input class="checkbox" type="checkbox" name="brands[]" value="2"> Страховка на 2 года 2000р</label></div>
    <div><label><input class="checkbox" type="checkbox" name="brands[]" value="3"> Страховка на 5 года 3000р</label></div>
    <div><label><input class="checkbox" type="checkbox" name="brands[]" value="4"> Страховка на 4 года 4000р</label></div>
    <div><label><input class="checkbox" type="checkbox" name="brands[]" value="5"> Страховка на 5 года 5000р</label></div>
    <div><label><input class="checkbox" type="checkbox" name="brands[]" value="6"> Страховка на 6 года 6000р</label></div>
</div>